#inUserInput, #taList {
	border: none;
	background: transparent;
	padding: 1px;
	margin: 0;
	font-family: monospace;
	font-size: 13px;
	line-height: 15px;
}

#taList {
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	width:592px;
	height:298px;
}

#inUserInput:focus, #taList:focus, div:focus {
	outline: none;
}

div.dark, #taList, div.dark input {
	background: black;
	color: orange;
	resize: none;
}

div.dark i {
	font-style: normal;
	font-weight: normal;
	opacity: 0.75;
}

div.dark b {
	font-style: normal;
	font-weight: normal;
	color: yellow;
}

#tabProgram {
	position: relative
}

#divStatus {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 13px;
	opacity: 0.75;
	height: 16px;
	width: 200px;
	font-family: sans-serif;
}

#inLine, #inLine:focus {
	border: 0;
	background: black;
	padding: 0;
	margin: 0;
	outline: none;
	height: 16px;
	font-size: 13px;
	font-family: monospace;
}

.dark ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
 
.dark ::-webkit-scrollbar-corner {
	background: black;
}
 
.dark ::-webkit-scrollbar-track {
	background: black; 
}
 
.dark ::-webkit-scrollbar-thumb {
	background: orange; 
}

#inputButtons button.glow {
	font-size: 10px;
}

button.glow, button.glow:focus {
	background: orange;
	color: black;
	padding: 0 1.5em;
	border: 0 none;
	margin: 0;
	font-weight: bold;
	height: 16px;
}

button.tab {
	background: silver;
	text-shadow: black;
	padding: 4px 12px;
	border-width: 2px 2px 0 2px;
	border-color: lighter;
	margin: 0 4px 0 0;
	font-weight: normal;
	font-family: sans-serif;
	border-radius: 3px 3px 0 0;
}

.win {
	background: gray;
	padding: 4px;
	width: 600px;
	height: 346px;
	font-size: 13px;
}

#inputButtons {
	position: absolute;
	right: 0px;
	font-size: 8px;
}

#tabOutput {
	position: relative;
	height: 320px;
}

#divOutput div {
	white-space: pre;
}

#divTutor {
	position: fixed;
	top: 8px;
	left: 624px;
	width: 600px;
	height: 346px;
}

#divTutor iframe {
	border: 0;
	padding: 0;
	margin: 0;
}

#taTutor {
	width: 592px;
	height: 322px;
	border: 0;
}
