#inUserInput, #taList {
	border: none;
	background: transparent;
	padding: 1px;
	margin: 0;
	font-family: monospace;
	font-size: 13px;
	line-height: 15px;
}

#taList {
	scrollbar-color: orange black;
    scrollbar-width: thin;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	width:592px;
	height:298px;
}

#inUserInput:focus, #taList:focus, div:focus {
	outline: none;
}

div.dark, #taList, div.dark input {
	background: black;
	color: orange;
	resize: none;
}

div.dark i {
	font-style: normal;
	font-weight: normal;
	opacity: 0.75;
}

div.dark b {
	font-style: normal;
	font-weight: normal;
	color: yellow;
}

#tabProgram {
	position: relative
}

#divStatus {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 13px;
	opacity: 0.75;
	height: 16px;
	width: 200px;
	font-family: sans-serif;
}

#inLine, #inLine:focus {
	border: 0;
	background: black;
	padding: 0;
	margin: 0;
	outline: none;
	height: 16px;
	font-size: 13px;
	font-family: monospace;
}

.dark ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
 
.dark ::-webkit-scrollbar-corner {
	background: black;
}
 
.dark ::-webkit-scrollbar-track {
	background: black; 
}
 
.dark ::-webkit-scrollbar-thumb {
	background: orange; 
}

#inputButtons button.glow {
	font-size: 10px;
}

button.glow, button.glow:focus {
	background: orange;
	color: black;
	padding: 0 1.5em;
	border: 0 none;
	margin: 0;
	font-weight: bold;
	height: 16px;
}

button.tab {
	background: silver;
	text-shadow: black;
	padding: 4px 12px;
	border-width: 2px 2px 0 2px;
	border-color: lighter;
	margin: 0 4px 0 0;
	font-weight: normal;
	font-family: sans-serif;
	border-radius: 3px 3px 0 0;
}

.win {
	background: gray;
	padding: 4px;
	width: 600px;
	height: 346px;
	font-size: 13px;
}

#tabMisc {
	font-family: monospace;
	font-size: 13px;
	height: 304px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 8px;
}

a:link, a:visited {
	color: black;
}

.dark a:link, .dark a:visited {
	color: orange;
}

#tabMisc input {
	border: 1px solid orange;
	background: black;
	width: 300px;
	margin: 2px 0 0 0;
	padding: 0;
}

#inputButtons {
	position: absolute;
	right: 0px;
	font-size: 8px;
}

#tabOutput {
	position: relative;
	height: 320px;
	overflow-x: hidden;
}

#divOutput div {
	white-space: pre;
	line-height: 15px;
	height: 15px;
}

#divTutor {
	position: fixed;
	top: 8px;
	right: 4px;
	width: 600px;
	height: 346px;
}

iframe {
	border: 0;
	padding: 0;
	margin: 0;
}

#taTutor {
	width: 600px;
	height: 320px;
	border: 0;
	overflow-x: hidden;
}

#tabGraphic {
	display:none;
	width:384px;
	height:216px;
	margin:52px auto;
	position:relative;
	overflow:hidden;
}

input.toggle {
	opacity: 0;
    width: 0;
    height: 0;
	border: none;
}

label.toggle {
	position: relative;
	top: 0;
	left: 0;
}

span.toggle {
	border: 1px solid orange;
	position: absolute;
	left: 0;
	top: 0;
}

#tabMisc span.toggle {
	width: 300px;
}

#tabMisc td {
	height: 19px;
	margin: 0;
	padding: 0 8px 0 0;
}

input:checked + span.toggle {
	background: orange;
}
