#sprite-editor td {
	background: black;
}

#sprite-editor td, #tblColors td {
	padding: 0;
	height: 8px;
}

#tblMemory td {
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 1px;
	background: black;
	color: orange;
	font-size: 0;
}

table#tblMemory {
	position: absolute;
	right: 0;
	top: 0;
	table-layout: fixed;
}

#tblColors td {
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: gray;
}

table#sprite-editor, table#tblColors, #inPointer {
	width: 217px;
	border: 0;
	margin: 0;
	padding: 0;
}

table#tblMemory, table#sprite-editor, table#tblColors {
	border-spacing: 1px;
	table-layout: fixed;
	border: 0;
	margin: 0;
	padding: 0;
}
