table.pixel td {
	background: black;
	width: 8px;
}

table.pixel td, #tblColors td {
	padding: 0;
	height: 8px;
}

#tblMemory td {
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 1px;
	background: black;
	color: orange;
	font-size: 12px;
}

#tblMemory {
	position: absolute;
	right: 0;
	top: 0;
	table-layout: fixed;
}

#tblColors td {
	border-width: 0 0 4px 0;
	border-style: solid;
	border-color: gray;
}

#tblDesigner, #tblColors, #divDesignerButtons {
	width: 217px;
	border: none;
	margin: 0;
	padding: 0;
}

#inPointer {
	background: none;
	color: gray;
	font-weight: bold;
	font-size: 12px;
	border: none;
	display: block;
	
	width: 100px;
	height: 13px;
}

#divDesignerButtons {
	text-align: justify;
	text-align-last: justify;
}

#divDesignerButtons * {
	padding: 0 9px;
	margin: 3px 0 4px 0;
	background: black;
	color: gray;
	border: none;
	font-size: 11px;
	font-weight: bold;
}

#tblColors {
	font-size: 8px;
	color: gray;
	font-family: monospace;
	font-weight: bold;
}

#tblMemory td {
	line-height: 0px;
	background: black;
	width: 16px;
	height: 16px;
	padding: 1px;
}

#tblMemory th {
	height: 16px;
	padding: 1px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	background: black;
	color: gray;
}

#tblMemory, #tblDesigner, #tblColors {
	border-spacing: 1px;
	table-layout: fixed;
	border: 0;
	margin: 0;
	padding: 0;
}

#inMove {
	text-align: center;
	text-align-last: center;
	width: 24px;
}

.fontPad a {
	text-decoration: none;
	font-size: 11px;
}
